{{!-- Navigation --}}
{{>nav }}

{{!-- Introduction Section --}}
<div class="container-fluid">
    <div id="hello" class="row no-gutters align-items-center">
        <div class="col">
            <h1 class="display-3 text-center">
                Hi, I'm Christopher Hopkins
            </h1>
            <h1 id="sub-hello" class="text-center text-muted">I'm a backend web developer.</h1>
        </div>
    </div>
</div>

{{!-- About Section --}}
<div id="about" class="container-fluid">
    <div class="row no-gutter align-items-center">
        <div class="col">
            <h2 class="display-4 text-center">
                About Me
            </h2>
            <br>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        <div class="col-8">
            
            <p class="lead">Hi, My name is Christopher Hopkins and I am a backend web developer. Throughout my education I studied biology, business administration, marketing, but I found my passion in web development. I am currently living in Burlington, Vermont.</p>
            <p class="lead">In my free time I enjoy running, gaming, snowboarding in the winter season, and building/upgrading computers. I am always open to new things.</p>
            <p class="lead">I am always up for a challenge, and am always using and experimenting with new technologies and continuing my education in the ever-changing web development field.</p>
        </div>
    </div>
</div>

{{!-- Skills & Technologies --}}
<div id="skills" class="container-fluid">
    <div class="row no-gutter align-items-center">
        <div class="col">
            <h2 class="display-4 text-center">
                Skills & Technologies
            </h2>
            <br>
        </div>
    </div>
    <div class="row no-gutter justify-content-center">
        <div class="col skill-col1">
            <h3 class="text-center">JavaScript Libraries & Tools</h3>
            <br>
            <div class="row justify-content-center">
                <div class="col-2 skill"><p class="lead">Node.js</p></div>
                <div class="col-2 skill"><p class="lead">ExpressJS</p></div>
                <div class="col-2 skill"><p class="lead">Handlebars</p></div>
                <div class="col-2 skill"><p class="lead">Socket.io</p></div>
            </div>
            <h5 class="text-center">& Working Knowledge Of:</h5>
            <br>
            <div class="row justify-content-center">
                <div class="col-2 skill"><p class="lead">Meteor</p></div>
                <div class="col-2 skill"><p class="lead">React</p></div>
                <div class="col-2 skill"><p class="lead">RxJS</p></div>
                <div class="col-2 skill"><p class="lead">Material-UI</p></div>
            </div>
        </div>
        <div class="col">
            <h3 class="text-center">Databases & ORMs</h3>
            <br>
            <div class="row justify-content-center">
                <div class="col-2 skill"><p class="lead">MongoDB</p></div>
                <div class="col-2 skill"><p class="lead">Mongoose</p></div>
            </div>
            <h5 class="text-center">& Working Knowledge Of:</h5>
            <br>
            <div class="row justify-content-center">
                <div class="col-2 skill"><p class="lead">PostgreSQL</p></div>
                <div class="col-2 skill"><p class="lead">Sequelize</p></div>
                <div class="col-2 skill"><p class="lead">Redis</p></div>
            </div>
        </div>
    </div>
</div>

{{!-- Portfolio & Projects --}}
<div id="portfolio" class="container-fluid">
    <div class="row no-gutter align-items-center">
        <div class="col">
            <h2 class="display-4 text-center">
                My Portfolio & Projects
            </h2>
            <br>
        </div>
    </div>
    <div class="row no-gutter justify-content-center">
        <div class="col-2">
            <div class="card">
                <img src="/images/shorter-link.png" width="285" height="300" alt="URL Shortener" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">URL Shortener</h4>
                    <p class="card-text">Simple app to shorten URLs </p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="" width="285" height="300" alt="Image Coming Soon" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="card">
                <img src="" width="285" height="300" alt="Image Coming Soon" class="card-img-top">
                <div class="card-body">
                    <h4 class="card-title">Coming Soon</h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div>

